body{
  font-family: 'Courier New', monospace;
}

.content {
  max-width: 500px;
  margin: auto;
}

input[type=button] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
}

#msgText{
  color: red;
}